.horizontal{
    margin: 0px;
   
}
.contact-no{
    color: rgb(54, 54, 58);
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}
.background-img{
    background-image: url(./Imeges/form_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;  
}